{% extends 'base.html' %}
{% block title %}
    Письмо отправлено | FoodPlan
{% endblock title %}
{% block content %}
    <section>
        <div class="container">
            <div class="card px-5 py-5 foodplan__shadow text-center">
                <h2 class="mb-4">Письмо отправлено</h2>
                <p>
                    Если аккаунт с таким email существует,
                    мы отправили инструкцию по восстановлению пароля.
                </p>
            </div>
        </div>
    </section>
{% endblock content %}
