{% extends 'base.html' %}
{% block title %}
    Пароль изменён | FoodPlan
{% endblock title %}
{% block content %}
    <section>
        <div class="container">
            <div class="card px-5 py-5 foodplan__shadow text-center">
                <h2 class="mb-4">Пароль успешно изменён</h2>
                <a href="{% url 'auth' %}"
                   class="btn btn-outline-success shadow-none foodplan_green foodplan__border_green">Войти</a>
            </div>
        </div>
    </section>
{% endblock content %}
